[submodule ".vim/pack/ages/start/vim-commentary"]
	path = .vim/pack/ages/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/ages/start/vim-dim"]
	path = .vim/pack/ages/start/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim
[submodule ".vim/pack/ages/start/ale"]
	path = .vim/pack/ages/start/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/pack/ages/start/vim-polyglot"]
	path = .vim/pack/ages/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/ages/start/vim-buftabline"]
	path = .vim/pack/ages/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule ".vim/pack/ages/opt/vim-closetag"]
	path = .vim/pack/ages/opt/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
