[Container]
Image=docker.io/syncthing/syncthing:latest
Exec=--no-default-folder
Mount=type=volume,source=syncthing.volume,target=/var/syncthing
Mount=type=bind,source=%h/.ssh,target=/.ssh
PublishPort=127.0.0.1:8384:8384
PublishPort=22000:22000
UserNS=keep-id:uid=1000,gid=1000
SecurityLabelDisable=true
PodmanArgs=--uts=host
AutoUpdate=registry
